* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: red;
}

/* Ponto de quebra - break point*/
@media (max-width: 700px) {
/*@media (max-width >= 700px) {*/
    h1 {
        font-size: 2rem;
        color: orange;
    }
}

@media (max-width: 480px) {
/*@media (max-width <= 480px) {*/
    h1 {
        font-size: 1.5rem;
        color: green;
    }
}

/*@media (min-width: 1900px) and (orientation: landscape / portrait) {*/
@media (min-width: 1400px) and (orientation: landscape) { /* o end inclui as duas situações*/
    /* de 1900 pra frente/cima ele aplica este estilo*/
    h1 {
        font-size: 3rem;
        color: rgb(221, 10, 224);
    }
}

/* max-width 700px ate  - de 700px para baixo(700px ou menos executa) */

/* min-width 700px a partir - de 700px pra cima */
/*
 Site break point: https://getbootstrap.com/docs/5.0/layout/breakpoints/
 */

 @media(max-width: 100px), (min-width: 1900px) { /* a vigula representa o OU, representa 2 situações*/
    h1 {
        color: blue;
    }
 }